body {
  font-family: sans-serif;
  margin: 0;
}
.container {
  display: grid;
  grid-template-areas: "header header" "nav nav" "main sidebar " "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}
header,
footer {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}
.flex-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  grid-area: nav;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
nav a {
  text-decoration: none;
  padding: 20px;
  color: #333;
}
.grid-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: main;
}
.content,
.sidebar {
  padding: 20px;
}
.content {
  background-color: #f9f9f9;
}
.sidebar {
  background-color: #f0f0f0;
  grid-area: sidebar;
}
